*.ts linguist-detectable=true
*.tsx linguist-detectable=true
*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.astro linguist-detectable=true
*.css linguist-detectable=true
vite.config.js linguist-detectable=true
vite.config.ts linguist-detectable=true
*.sql linguist-detectable=true
playwright.config.ts linguist-detectable=true
tests/**/*.ts linguist-detectable=true
.vercel/* linguist-vendored
dist/* linguist-vendored
node_modules/* linguist-vendored
* text=auto
