---
import BodyPartSelector from "@/components/body-part-selection/BodyPartSelector";
import PageHeader from "@/components/common/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";

export const prerender = false;
---

<Layout title="Select Body Area - Physia">
  <div class="container mx-auto py-8 px-2 sm:px-4">
    <PageHeader title="Select Body Area" subtitle="Please select the body area where you experience overload-related muscle pain:" />

    <BodyPartSelector client:load />
  </div>
</Layout>
